body {
	
}


h1,h2,h3,h4,h5,h6,p,input, * {
	
}

.prices-row, .converter-row, .header-row {
	padding-bottom:64px;
}


.currency1-container:after {
	content:"=";
	position:absolute;
	right:-10px;
	top:72px;
	
	font-size:2.5rem;
}

input, select {
	width:100%;
}

.currency-container {
	padding:32px;
}