.hidden {
	display:none;
}

.row {
	padding:16px;
}

/*
TYPOGRAPHY
*/

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
}


/*
HEADER
*/

header.row {
	background:#37517e;
	padding:16px;
	color:#fff;
	
}

header h3 {
	
	font-weight:100;
}

/*
CTA
*/

.cta-row {
	background:#37517e;
	text-align:center;
	color:#fff;
	padding-top:0;
}


/*
CONVERSION FORM
*/

.form-row {
	padding-top:32px;
}

.switch img{
	max-height:50%;
	max-width:50%;
}

input:required,
input:invalid{
	box-shadow:none;
}

input,select {
	min-height:34px;
}


.amount-input {
	max-width:150px;
}

/*
Summary
*/

h2,h4 {
	width:100%;	
}